<?xml version="1.0"?>
<configuration>
	<appSettings>
		<add key="Server" value="localhost"/>
		<add key="ConnectType" value="Tcp"/>        <!-- Http or Tcp --> 
		<add key="TcpPort" value="8338"/>            <!-- Same as server setting-->
		<add key="HttpPort" value="8339"/>           <!-- Same as server setting-->
		<add key="ObjectUri" value="rmainte4"/>      <!-- Same as server setting-->
    <add key="EventSource" value="rmainte4"/>
	</appSettings>
</configuration>
